:root {
    --primary-color: #c5a067; /* Button default color */
    --background-color: #FFF6EA; /* Background color */
    --hover-color: #603F26; /* Hover color */
    --dark-color: #000000;
    --body-font: 'Lora', serif; /* Font family for regular text */
    --heading-font: 'Lora', serif; /* Font family for headings */
}


@media only screen and (min-width:1200px){
    .service-row{
        max-width: 60%;
    }
    h1{
        font-family: var(--heading-font);
        font-weight: 800;
        font-size: 4.5rem;
        color: var(--background-color);
    }

    .text-content {
        position: absolute;
        top: 50%; 
        left: 10%;
        transform: translateY(-50%); 
        z-index: 2;
        color: #fff;
        max-width: 55%;
        text-align: left;
    }

    .carousel-control-prev{
        margin-left: 50px;
    }
    .carousel-control-next{
        margin-right: 50px;
    }
}

@media only screen and (max-width:992px){
   
}

@media only screen and (max-width:576px){
    h1{
        font-family: var(--heading-font);
        font-weight: 900;
        font-size: 2rem;
        color: var(--background-color);
    }

    .text-content {
        position: absolute;
        top: 50%; 
        left: 3%;
        transform: translateY(-50%); 
        z-index: 2;
        color: #fff;
        max-width: 100%;
        text-align: left;
    }

    .carousel-control-prev, .carousel-control-next {
        top: 80%; 
        transform: translateY(-50%); 
        
    }
}


/* About section  */

/* Responsive styles */
@media (max-width: 992px) {
    .tm-padding-sectionv4 {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .tm-left-full-width .pe-3 img {
        height: 400px;
    }

    .contact-box {
        bottom: -5%;
        right: 10%;
        padding: 20px 1rem;
    }

    .about-content .title { /* same containt h2 */
        font-size: 36px;
        line-height: 44px;
    }

    .about-sub-textv4 .about-text {
        font-size: 18px;
        padding-left: 16px;
    }

    .about-description p {
        font-size: 14px;
    }

    .about-description li {
        font-size: 14px;
    }
}


@media (max-width: 576px) {

    .about-content .title{
        padding-top: 50px;
    }

    .tm-left-full-width .pe-3 img {
        height: 400px;
    }

    .contact-box {
        right: 5%;
    }

    .about-content .title {
        font-size: 38px;
        line-height: 36px;
        font-weight: 700;
    }

    .about-sub-textv4 .about-text {
        font-size: 18px;
        font-weight: 500;
    }

    .about-description p {
        font-size: 16px;
        font-weight: 400;
        font-family: var(--body-font);
    }

    .about-description li {
        font-size: 15px;
    }

    .tm-button {
        font-size: 16px;
        padding: 0 20px;
        height: 40px;
    }
}


/* service section  */
@media only screen and (max-width: 767px) {
    .tm-padding-sectionv4 {
        padding-top: 60px;
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .services-area-header {
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .service-area-title {
      
        display: flex;
       
        flex-direction: column;
        
        justify-content: left;
       
        align-items: flex-start;
    }
}

@media only screen and (max-width: 480px) {
    .tm-title-header {
        font-size: 32px;
    }
}

/* service section end  */